html, body {
  border: 0;
  margin: 0;
  overflow: hidden; }

body {
  background: white;
  font-family: 'helvetica neue', sans-serif;
  font-size: 0.9em; }

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif; }

.upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 990; }

.upload-message {
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border: 2px solid #999;
  color: #333;
  z-index: 1000;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 200px;
  margin: -120px 0 0 -220px;
  line-height: 1.5em;
  padding: 40px; }
  .upload-message h1 {
    font-size: 2.2em;
    text-align: center;
    letter-spacing: -2px;
    margin: 0 0 20px 0;
    padding: 0; }

.upload-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1010;
  margin: 0;
  padding: 0; }

.upload-form input {
  width: 100%;
  height: 100%;
  opacity: 0.01; }

#instructions {
  background: white;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border: 2px solid #999;
  color: #333;
  z-index: 1000;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 150px;
  margin: -95px 0 0 -220px;
  line-height: 1.5em;
  padding: 40px; }
  #instructions h1 {
    font-size: 2.2em;
    text-align: center;
    letter-spacing: -2px;
    margin: 0 0 20px 0;
    padding: 0; }
  #instructions small {
    font-style: italic;
    color: #555; }
  #instructions .keys {
    position: relative;
    height: 90px;
    left: 80px; }
    #instructions .keys .key {
      width: 32px;
      height: 32px;
      border: 1px solid #aaa;
      border-radius: 4px;
      line-height: 32px;
      display: inline-block;
      text-align: center;
      box-shadow: 1px 1px 3px #aaa;
      color: #777;
      font-size: 11px;
      font-weight: bold;
      position: absolute;
      background: linear-gradient(180deg, #eeeeee, #eeeeee 40%, #cccccc); }
    #instructions .keys .key.w {
      left: 100px;
      top: 0; }
    #instructions .keys .key.a {
      left: 60px;
      top: 40px; }
    #instructions .keys .key.s {
      left: 100px;
      top: 40px; }
    #instructions .keys .key.d {
      left: 140px;
      top: 40px; }
